<div class="page-center">
  <h1>Liste des écoles</h1>
  @if (schools().length) {
    <table class="amv-table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Informations supplémentaires</th>
        </tr>
      </thead>
      @for (school of schools(); track school.id) {
        <tr class="head selectable trackable">
          <td class="important">{{ school.name }}</td>
          <td [title]="school.additionalInfo">{{ school.additionalInfo | truncate }}</td>
          <td>
            <button class="invisible" title="modifier" (click)="openEditSchoolDialog(school)">
              <span class="material-symbols-outlined">edit</span>
            </button>
          </td>
          <td>
            <button class="invisible" title="modifier" (click)="openAddClassDialog(school)">
              <span class="material-symbols-outlined">group_add</span>
            </button>
          </td>
        </tr>
      }
    </table>
  } @else {
    <div class="table-message">Aucune famille enregistrée</div>
  }
  <button (click)="openEditSchoolDialog()">Ajouter une école</button>
</div>
