<div class="page-center">
  <h1>Liste des familles adhérentes</h1>
  @if (familiesToDisplay().length) {
    <table class="amv-table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom de famille</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Email</th>
          <th scope="col">Date de naissance</th>
          <th scope="col">Langues parlées</th>
          <th scope="col">Informations supplémentaires</th>
        </tr>
      </thead>
      @for (familyDisplay of familiesToDisplay(); track familyDisplay.family.id) {
        @let family = familyDisplay.family;
        <tr class="head selectable trackable" (click)="switchExpanded(familyDisplay)">
          <td>
            @if (isContributionValid(family)) {
              <span
                class="material-symbols-outlined success icon-white-bg"
                title="Cotisation validée"
              >
                check_circle
              </span>
            } @else {
              <span class="material-symbols-outlined error icon-white-bg" title="Pas de cotisation">
                error
              </span>
            }
          </td>
          <td></td>
          <td class="important">{{ family.name }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [title]="family.additionalInfo">{{ family.additionalInfo | truncate }}</td>
          <td>
            <a
              class="a-button invisible"
              [routerLink]="['/tutoring/family', family.id]"
              title="modifier"
              ><span class="material-symbols-outlined">visibility</span></a
            >
          </td>
          <td>
            <a
              class="a-button invisible"
              [routerLink]="['/tutoring/family', family.id, 'edit']"
              title="modifier"
              ><span class="material-symbols-outlined">edit</span></a
            >
          </td>
          <td>
            <button
              class="invisible"
              title="supprimer"
              (click)="validateFamilyRemoval(family, $event)"
            >
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </td>
          <td>
            @if (familyDisplay.expanded) {
              <button class="invisible" title="cacher">
                <span class="material-symbols-outlined">arrow_drop_down</span>
              </button>
            } @else {
              <button class="invisible" title="afficher">
                <span class="material-symbols-outlined">arrow_drop_up</span>
              </button>
            }
          </td>
        </tr>
        @if (familyDisplay.expanded) {
          @for (member of sortedFamilyMembers(family.members); track member.id) {
            <tr class="trackable" [class.even]="$even">
              <td>
                @if (member.isParent) {
                  <span class="material-symbols-outlined" title="Parent">person</span>
                } @else {
                  <span class="material-symbols-outlined" title="Enfant">child_hat</span>
                }
              </td>
              <td>{{ member.firstName }}</td>
              <td>{{ member.lastName }}</td>
              <td>{{ member.phoneNumbers.join(', ') }}</td>
              <td>{{ member.email }}</td>
              <td>{{ member.birthDate | date: 'dd/MM/yyyy' }}</td>
              <td>{{ member.languages.join(', ') }}</td>
              <td [title]="member.additionalInfo">{{ member.additionalInfo | truncate }}</td>
              <td></td>
              <td>
                <a
                  class="a-button invisible"
                  [routerLink]="['/tutoring/family', family.id, 'member', member.id, 'edit']"
                  title="modifier"
                  ><span class="material-symbols-outlined">edit</span></a
                >
              </td>
              <td>
                <button
                  class="invisible"
                  title="supprimer"
                  (click)="validateFamilyMemberRemoval(family, member)"
                >
                  <span class="material-symbols-outlined"> delete </span>
                </button>
              </td>
              <td></td>
            </tr>
          }
        }
      }
    </table>
  } @else {
    <div class="table-message">Aucune famille enregistrée</div>
  }
  <a class="a-button" routerLink="/tutoring/family/add"> Ajouter une famille </a>
</div>
