.h-panel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  &.top {
    align-items: start;
  }
}

.h-panel-large {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  gap: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
}

.dialog {
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;

  .content {
    margin: 2rem 0;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    button {
      flex: 1 1 auto;
    }
  }
}
