.page-menu {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 5rem;
  min-height: 100%;
  overflow-x: auto;
}

.page-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
