$c1: rgb(255, 238, 112);
$c1-light: rgb(255, 245, 153);
$c1-lighter: rgb(255, 255, 183);
$c1-dark: rgb(255, 231, 71);
$c1-darker: rgb(255, 221, 31);
$c2: rgb(145, 109, 213);
$c2-light: rgb(199, 173, 255);
$c2-lighter: rgb(235, 224, 255);
$c2-dark: rgb(87, 61, 127);
$c2-darker: rgb(63, 54, 73);
$error: red;
