<div class="page-center">
  @if (family(); as familyValue) {
    <h1>Famille {{ familyValue.name }}</h1>

    <div class="h-panel-large">
      <div class="section">
        @if (isContributionValid()) {
          <div class="h-panel">
            <span class="material-symbols-outlined success"> check_circle </span>
            <div>
              Cotisation validée jusqu'au
              {{ familyValue.contributionValidity | date: 'dd/MM/yyyy' }}
            </div>
          </div>
          <button (click)="openContributionDialog()">Modifier la cotisation</button>
        } @else {
          <div class="h-panel">
            <span class="material-symbols-outlined error"> error </span>
            <div>Pas de cotisation</div>
          </div>
          <button (click)="openContributionDialog()">Valider la cotisation</button>
        }
      </div>
      @if (!!familyValue.additionalInfo) {
        <div class="section">{{ familyValue.additionalInfo }}</div>
      }

      @if (!!familyValue.address) {
        @let address = familyValue.address;
        <div class="section">
          <div>{{ address.street }}</div>
          @if (address.additional) {
            <div>{{ address.additional }}</div>
          }
          <div>{{ address.postCode }} {{ address.city }}</div>
        </div>
      }
    </div>

    @if (!!familyValue.members.length) {
      <table class="amv-table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom de famille</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Email</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Langues parlées</th>
            <th scope="col">Informations supplémentaires</th>
          </tr>
        </thead>
        @for (member of sortedFamilyMembers(familyValue.members); track member.id) {
          <tr [class.even]="$even">
            <td>
              @if (member.isParent) {
                <span class="material-symbols-outlined" title="Parent">person</span>
              } @else {
                <span class="material-symbols-outlined" title="Enfant">child_hat</span>
              }
            </td>
            <td>{{ member.firstName }}</td>
            <td>{{ member.lastName }}</td>
            <td>{{ member.phoneNumbers.join(', ') }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.birthDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ member.languages.join(', ') }}</td>
            <td [title]="member.additionalInfo">{{ member.additionalInfo | truncate }}</td>
            <td>
              <a
                class="a-button invisible"
                [routerLink]="['member', member.id, 'edit']"
                title="modifier"
                ><span class="material-symbols-outlined">edit</span></a
              >
            </td>
            <td>
              <button class="invisible" title="supprimer">
                <span
                  class="material-symbols-outlined"
                  (click)="validateFamilyMemberRemoval(member)"
                  >delete</span
                >
              </button>
            </td>
          </tr>
        }
      </table>
    } @else {
      <div class="table-message">Aucune membre enregistré</div>
    }
    <div class="h-panel">
      <a class="a-button" routerLink="member/add"> Ajouter un membre </a>
      <a class="a-button" [routerLink]="['edit']"> Modifier la famille </a>
      <button type="button" (click)="validateFamilyRemoval()">Supprimer la famille</button>
    </div>
  } @else {
    <div>Famille non trouvée</div>
  }
</div>
