<div class="page-center">
  @if (member(); as memberValue) {
    <h1>{{ member()?.firstName }} {{ member()?.lastName }}</h1>

    <div class="h-panel-large">
      <div class="section">
        @if (memberValue.isParent) {
          <div class="h-panel">
            <span class="material-symbols-outlined" title="Parent">person</span>
            <div>Parent</div>
          </div>
        } @else {
          <div class="h-panel">
            <span class="material-symbols-outlined" title="Enfant">child_hat</span>
            <div>Enfant</div>
          </div>
        }

        @if (!!memberValue.birthDate) {
          <div>Né.e le {{ memberValue.birthDate | date: 'd MMMM y' }}</div>
        }

        @if (!!memberValue.languages.length) {
          <div>Langues parlées : {{ memberValue.languages.join(', ') }}</div>
        }
      </div>

      @if (!!memberValue.phoneNumbers.length || !!memberValue.email) {
        <div class="section">
          @if (!!memberValue.phoneNumbers.length) {
            <div>Téléphone : {{ memberValue.phoneNumbers.join(', ') }}</div>
          }

          @if (!!memberValue.email) {
            <div>Email : {{ memberValue.email }}</div>
          }
        </div>
      }

      @if (!!memberValue.additionalInfo) {
        <div class="section">{{ memberValue.additionalInfo }}</div>
      }
    </div>

    @if (currentLessonsToDisplay().length) {
      <div class="highlight">Cours actuels</div>
      <table class="amv-table">
        <thead>
          <tr>
            <th scope="col">Encadrant</th>
            <th scope="col">Jour et heure</th>
            <th scope="col">Lieu</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
          </tr>
        </thead>
        @for (lessonDisplay of currentLessonsToDisplay(); track lessonDisplay.lesson.id) {
          @let lesson = lessonDisplay.lesson;
          @let tutor = lessonDisplay.tutor;
          <tr [class.even]="$even">
            <td>{{ displayTutorName(tutor) }}</td>
            <td>{{ `${daysMap.get(lesson.dayOfWeek)} ${lesson.time}` }}</td>
            <td>{{ lesson.place === 'ASSOCIATION' ? 'Local' : 'Domicile' }}</td>
            <td>{{ lesson.startDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ lesson.endDate | date: 'dd/MM/yyyy' }}</td>
            <td>
              <a
                class="a-button invisible"
                [routerLink]="['/tutoring/lesson', lesson.id, 'edit']"
                title="modifier"
                ><span class="material-symbols-outlined">edit</span></a
              >
            </td>
            <td>
              @if (canStopLesson(lesson)) {
                <button class="invisible" title="arrêter" (click)="stopLesson(lesson)">
                  <span class="material-symbols-outlined"> stop_circle </span>
                </button>
              } @else {
                <button class="invisible" title="reprendre" (click)="reactivateLesson(lesson)">
                  <span class="material-symbols-outlined"> play_circle </span>
                </button>
              }
            </td>
            <td>
              <button class="invisible" title="supprimer" (click)="validateLessonRemoval(lesson)">
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </td>
          </tr>
        }
      </table>
    }

    <div class="h-panel">
      <a class="a-button" [routerLink]="['edit']"> Modifier le membre </a>
      <button type="button" (click)="validateMemberRemoval()">Supprimer le membre</button>
      <button type="button" class="secondary" (click)="goToFamily()">Famille</button>
    </div>

    @if (!!futureLessonsToDisplay().length || !!pastLessonsToDisplay().length) {
      <hr />
      <div class="h-panel-large">
        @if (!!futureLessonsToDisplay().length) {
          <div class="section">
            <div class="highlight">Futurs cours prévus</div>
            <table class="amv-table">
              <thead>
                <tr>
                  <th scope="col">Encadrant</th>
                  <th scope="col">Jour et heure</th>
                  <th scope="col">Lieu</th>
                  <th scope="col">Date de début</th>
                  <th scope="col">Date de fin</th>
                </tr>
              </thead>
              @for (lessonDisplay of futureLessonsToDisplay(); track lessonDisplay.lesson.id) {
                @let lesson = lessonDisplay.lesson;
                @let tutor = lessonDisplay.tutor;
                <tr [class.even]="$even">
                  <td>{{ displayTutorName(tutor) }}</td>
                  <td>{{ `${daysMap.get(lesson.dayOfWeek)} ${lesson.time}` }}</td>
                  <td>{{ lesson.place === 'ASSOCIATION' ? 'Local' : 'Domicile' }}</td>
                  <td>{{ lesson.startDate | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ lesson.endDate | date: 'dd/MM/yyyy' }}</td>
                  <td>
                    <a
                      class="a-button invisible"
                      [routerLink]="['/tutoring/lesson', lesson.id, 'edit']"
                      title="modifier"
                      ><span class="material-symbols-outlined">edit</span></a
                    >
                  </td>
                  <td>
                    <button
                      class="invisible"
                      title="supprimer"
                      (click)="validateLessonRemoval(lesson)"
                    >
                      <span class="material-symbols-outlined"> delete </span>
                    </button>
                  </td>
                </tr>
              }
            </table>
          </div>
        }

        @if (!!pastLessonsToDisplay().length) {
          <div class="section">
            <div class="highlight">Cours terminés</div>
            <table class="amv-table">
              <thead>
                <tr>
                  <th scope="col">Encadrant</th>
                  <th scope="col">Jour et heure</th>
                  <th scope="col">Lieu</th>
                  <th scope="col">Date de début</th>
                  <th scope="col">Date de fin</th>
                </tr>
              </thead>
              @for (lessonDisplay of pastLessonsToDisplay(); track lessonDisplay.lesson.id) {
                @let lesson = lessonDisplay.lesson;
                @let tutor = lessonDisplay.tutor;
                <tr [class.even]="$even">
                  <td>{{ displayTutorName(tutor) }}</td>
                  <td>{{ `${daysMap.get(lesson.dayOfWeek)} ${lesson.time}` }}</td>
                  <td>{{ lesson.place === 'ASSOCIATION' ? 'Local' : 'Domicile' }}</td>
                  <td>{{ lesson.startDate | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ lesson.endDate | date: 'dd/MM/yyyy' }}</td>
                  <td>
                    <a
                      class="a-button invisible"
                      [routerLink]="['/tutoring/lesson', lesson.id, 'edit']"
                      title="modifier"
                      ><span class="material-symbols-outlined">edit</span></a
                    >
                  </td>
                  <td>
                    @if (canStopLesson(lesson)) {
                      <button class="invisible" title="arrêter" (click)="stopLesson(lesson)">
                        <span class="material-symbols-outlined"> stop_circle </span>
                      </button>
                    } @else {
                      <button
                        class="invisible"
                        title="reprendre"
                        (click)="reactivateLesson(lesson)"
                      >
                        <span class="material-symbols-outlined"> play_circle </span>
                      </button>
                    }
                  </td>
                  <td>
                    <button
                      class="invisible"
                      title="supprimer"
                      (click)="validateLessonRemoval(lesson)"
                    >
                      <span class="material-symbols-outlined"> delete </span>
                    </button>
                  </td>
                </tr>
              }
            </table>
          </div>
        }
      </div>
    }
  } @else {
    <div>Membre non trouvé</div>
  }
</div>
