<div class="page-center">
  @if (member(); as memberValue) {
    <h1>
      <div>{{ memberValue?.firstName }} {{ memberValue?.lastName }}</div>
      <a class="a-button invisible" [routerLink]="['edit']" title="modifier">
        <span class="material-symbols-outlined">edit</span>
      </a>
      <button class="invisible" title="supprimer" (click)="validateMemberRemoval()">
        <span class="material-symbols-outlined"> delete </span>
      </button>
      <button class="invisible" title="famille" (click)="goToFamily()">
        <span class="material-symbols-outlined"> family_group </span>
      </button>
    </h1>

    <div class="h-panel-large">
      <div class="section">
        @if (memberValue.isParent) {
          <div class="h-panel">
            <span class="material-symbols-outlined" title="Parent">person</span>
            <div>Parent</div>
          </div>
        } @else {
          <div class="h-panel">
            <span class="material-symbols-outlined" title="Enfant">child_hat</span>
            <div>Enfant</div>
          </div>
        }

        @if (!!memberValue.birthDate) {
          <div>Né.e le {{ memberValue.birthDate | date: 'd MMMM y' }}</div>
        }

        @if (!!memberValue.languages.length) {
          <div>Langues parlées : {{ memberValue.languages.join(', ') }}</div>
        }
      </div>

      @if (!!memberValue.phoneNumbers.length || !!memberValue.email) {
        <div class="section">
          @if (!!memberValue.phoneNumbers.length) {
            <div>Téléphone : {{ memberValue.phoneNumbers.join(', ') }}</div>
          }

          @if (!!memberValue.email) {
            <div>Email : {{ memberValue.email }}</div>
          }
        </div>
      }

      @if (!!memberValue.additionalInfo) {
        <div class="section">{{ memberValue.additionalInfo }}</div>
      }

      @if (!memberValue.isParent || !!memberValue.schoolClassIds.length) {
        <div class="section">
          <amv-recipient-school></amv-recipient-school>
        </div>
      }
    </div>

    <amv-recipient-lessons></amv-recipient-lessons>
  } @else {
    <div>Membre non trouvé</div>
  }
</div>
