<div class="page-center">
  <h1>
    @if (!!volunteer()) {
      Modifier {{ volunteer()?.firstName }} {{ volunteer()?.lastName }}
    } @else {
      Ajouter un bénévole
    }
  </h1>
  <form class="simple-form" [formRoot]="volunteerForm">
    <div class="field">
      <div class="label">Encadrant</div>
      <amv-toggle
        id="tu"
        leftLabel="Oui"
        rightLabel="Non"
        [formField]="volunteerForm.tutor"
      ></amv-toggle>
    </div>

    @let lastName = volunteerForm.lastName;
    <div class="field">
      <label for="ln">Nom de famille *</label>
      <input id="ln" type="text" [formField]="lastName" autocomplete="new-lastName" />
    </div>
    @if (lastName().dirty() && lastName().invalid()) {
      @for (error of lastName().errors(); track error.kind) {
        <div class="field-error">{{ error.message }}</div>
      }
    }

    @let firstName = volunteerForm.firstName;
    <div class="field">
      <label for="fn">Prénom *</label>
      <input id="fn" type="text" [formField]="firstName" autocomplete="new-firstName" />
    </div>
    @if (firstName().dirty() && firstName().invalid()) {
      @for (error of firstName().errors(); track error.kind) {
        <div class="field-error">{{ error.message }}</div>
      }
    }

    @let email = volunteerForm.email;
    <div class="field">
      <label for="email">Email</label
      ><input id="email" type="text" [formField]="email" autocomplete="new-email" />
    </div>
    @if (email().touched() && email().invalid()) {
      @for (error of email().errors(); track error.kind) {
        <div class="field-error">{{ error.message }}</div>
      }
    }

    <div class="sub-form">
      @for (phone of volunteerForm.phones; track phone) {
        <div class="field">
          <label [for]="`phone-${$index}`">Téléphone {{ $index > 0 ? $index + 1 : '' }}</label>
          <input
            [id]="`phone-${$index}`"
            type="text"
            [formField]="phone"
            autocomplete="new-phone"
          />
          @if (volunteerForm.phones.length > 1) {
            <button
              class="invisible small"
              type="button"
              title="supprimer"
              (click)="removePhone($index)"
            >
              <span class="material-symbols-outlined">remove</span>
            </button>
          }
        </div>
      }
      <button class="invisible small" type="button" title="Ajouter un numéro" (click)="addPhone()">
        <span class="material-symbols-outlined">add</span>
      </button>
    </div>

    <div class="sub-form">
      @for (language of volunteerForm.languages; track language) {
        <div class="field">
          <label [for]="`language-${$index}`"
            >Langue parlée {{ $index > 0 ? $index + 1 : '' }}</label
          >
          <input [id]="`language-${$index}`" type="text" [formField]="language" />
          @if (volunteerForm.languages.length > 1) {
            <button
              class="invisible small"
              type="button"
              title="supprimer"
              (click)="removeLanguage($index)"
            >
              <span class="material-symbols-outlined">remove</span>
            </button>
          }
        </div>
      }
      <button
        class="invisible small"
        type="button"
        title="Ajouter une langue"
        (click)="addLanguage()"
      >
        <span class="material-symbols-outlined">add</span>
      </button>
    </div>

    <div class="field">
      <label for="info">Informations supplémentaires</label>
      <textarea id="info" [formField]="volunteerForm.additionalInfo"> </textarea>
    </div>
    <div class="buttons">
      <button [disabled]="volunteerForm().invalid()">Enregistrer</button>
      <button class="secondary" type="button" (click)="cancel()">Annuler</button>
    </div>
  </form>
</div>
