<div class="menu">
  <div>
    <a routerLink="/tutoring/family/list" routerLinkActive="selected-menu">
      <span class="material-symbols-outlined">family_group</span>
      <span>Familles</span>
    </a>
    <a routerLink="/tutoring/volunteer/list" routerLinkActive="selected-menu">
      <span class="material-symbols-outlined">accessibility_new</span>
      <span>Bénévoles</span>
    </a>
    <a routerLink="/tutoring/lesson/list" routerLinkActive="selected-menu">
      <span class="material-symbols-outlined">book_ribbon</span>
      <span>Cours</span>
    </a>
    <a routerLink="/tutoring/school/list" routerLinkActive="selected-menu">
      <span class="material-symbols-outlined">gite</span>
      <span>Écoles</span>
    </a>
  </div>
  <div>
    <a routerLink="/tutoring/settings" routerLinkActive="selected-menu">
      <span class="material-symbols-outlined">settings</span>
      <span>Paramètres</span>
    </a>
  </div>
</div>
