@let address = addressField();
@let street = address.street;
<div class="field">
  <label for="street">Numéro et rue</label>
  <input id="street" type="text" [formField]="street" autocomplete="new-street" />
</div>
@if (street().dirty() && street().invalid()) {
  @for (error of street().errors(); track error.kind) {
    <div class="field-error">{{ error.message }}</div>
  }
}

<div class="field">
  <label for="additional">Complément d'adresse</label>
  <input id="additional" type="text" [formField]="address.additional" />
</div>

@let postCode = address.postCode;
<div class="field">
  <label for="postCode">Code Postal</label>
  <input id="postCode" type="text" [formField]="postCode" autocomplete="new-postcode" />
</div>
@if (postCode().dirty() && postCode().invalid()) {
  @for (error of postCode().errors(); track error.kind) {
    <div class="field-error">{{ error.message }}</div>
  }
}

@let city = address.city;
<div class="field">
  <label for="city">Ville</label>
  <input id="city" type="text" [formField]="city" autocomplete="new-city" />
</div>
@if (city().dirty() && city().invalid()) {
  @for (error of city().errors(); track error.kind) {
    <div class="field-error">{{ error.message }}</div>
  }
}
